<%= form_for(course_student) do |f| %>
  <% if course_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_student.errors.count, "error") %> prohibited this course_student from being saved:</h2>

      <ul>
      <% course_student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_id %>
    <%= f.collection_select :course_id, Course.all, :id, :title %>
  </div>

  <div class="field">
    <%= f.label :person_id %>
    <%= f.collection_select :person_id, Person.all, :id, :email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
